html,
body {
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  color: white;
}
#clock {
  font-family: "Permanent Marker", cursive;
  font-size: x-large;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.header a {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(132, 185, 132);
  color: white;
  border-radius: 0.5rem;
  padding: 5px;
}

.menu {
  display: block;
}

.menu a {
  margin: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(132, 185, 132);
  padding: 20px;
  border-radius: 5px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

#back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: rgba(1, 44, 1, 0.726);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
#back-to-top-button:hover{
  background-color: #0056b3;
}

.container {
  margin-top: 70px;
}

.container h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: xx-large;
}

.container p {
  text-align: center;
  font-weight: bold;
}

p {
  font-size: larger;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: xx-large;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.class {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}

.bloc {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

img {
  width: 350px;
  border-radius: 0.5rem;
  height: 350px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-container a {
  text-decoration: none;
}

.contain {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "Permanent Marker", cursive;
}

@media (max-width: 1200px) {
  .footer-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .contain {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .bloc {
    flex-direction: column;
  }

  .footer-container {
    flex-wrap: wrap;
    width: 75%;
  }

  .burger {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }
}

@media (max-width: 500px) {
  .bloc {
    flex-direction: column;
  }

  .footer-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .contain {
    width: 100%;
  }
}
