html,
body {
  background: linear-gradient(
    245.59deg,
    #4d9559 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
  color: white;
}

.audio-player {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.header a {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(132, 185, 132);
  color: white;
  border-radius: 0.5rem;
  padding: 5px;
}

.menu {
  display: block;
}

.menu a {
  margin: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(132, 185, 132);
  padding: 20px;
  border-radius: 5px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.contenu {
  display: flex;
  display: block;
  margin-top: 50px;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

p {
  font-size: larger;
}

h3 {
  text-decoration: underline;
}

p {
  margin-top: 0px;
}

fieldset {
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  width: 600px;
  height: auto;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}

label {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}

input,
textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type="checkbox"] {
  width: 10px;
}

input[type="submit"] {
  width: 150px;
  padding: 10px;
  border-radius: 0.5rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-container h3 {
  text-decoration: none;
}
.footer-container a {
  text-decoration: none;
}

.contain {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "Permanent Marker", cursive;
}

@media (max-width: 1024px) {
  .footer-container {
    flex-wrap: wrap;
    
  }
  .contain {
    width: 50%;
  }
  
}

@media (max-width: 800px) {
  .bloc {
    flex-direction: column;
  }

  .footer-container {
    flex-wrap: wrap;
    width: 75%;
  }
  .burger {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }

  #monFormulaire {
   width: 200px !important;
   position: relative;
   display: inline-block; 
  }

  fieldset {
    width: auto;
  }
}


@media (max-width: 500px) {
  .bloc {
    flex-direction: column;
  }

  .footer-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .contain {
    width: 100%;
  }
}

